/*? ------------------ PROJECTS SECTION ------------------ */
/*! PROJECT GRID */

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 40px;
}

/*! PROJECT CARD */

.project-card {
  position: relative;
  overflow: hidden;
  border-radius: var(--radius-md);
  cursor: pointer;
}

/*! PROJECT IMAGE */

.project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*! OVERLAY LAYER */

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(15, 15, 15, 0.7);
  display: grid;
  place-content: center;
  opacity: 0;
  transition: opacity var(--transition);
}

/*! OVERLAY TEXT */

.overlay h3 {
  font-size: 1.5rem;
  color: white;
}

/*! HOVER EFFECT */

.project-card:hover .overlay {
  opacity: 1;
}

/*? ------------------- SKILLS SECTION ------------------- */

.skills ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 24px;
}

/*! Individual Skill Item */

.skills li {
  font-size: 1.1rem;
  padding: 16px 20px;
  border-radius: var(--radius-sm);
  background: rgba(255, 255, 255, 0.03);
  text-align: center;
  transition: background var(--transition);
  cursor: pointer;
}

/*! Subtle Hover Effect */

.skills li:hover {
  background: rgba(255, 255, 255, 0.08);
}
