/*! Enable smooth scrolling for anchor links */

html {
  scroll-behavior: smooth;
}

/*! Global body styles */

body {
  font-family: var(--font-main);
  background-color: var(--bg-dark);
  color: var(--text-light);
  line-height: 1.6;
}

/*! Default spacing for all sections */

section {
  padding: var(--section-padding);
}
